@model ECommApplication.Models.UserLogin
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
</head>
<body>
    <div>
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-info-sign"></i> </span>
                    <h5>Login</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="/Account/AdminLogin"  >
                        <div class="control-group">
                            <label class="control-label">Username</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.UserName, new { @maxlength = "100" })
                                @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password</label>
                            <div class="controls"> 
                                @Html.PasswordFor(a => a.UserPassword, new { @maxlength = "100"   })
                                @Html.ValidationMessageFor(a => a.UserPassword, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="Login" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
